<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
	<title>MK</title>
	<link rel="stylesheet" type="text/css" media="all" href="style.css"
	<script src="js/jquery1.4.4.min.js"></script>
	<script src="js/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>

	<header id="header" role="banner">
		<div class="inner">
			<div class="logo">
				<h2>MK</h2>
			</div>
			<nav id="mainNav">
				<div class="inner">
					<a class="menu" id="menu"><span>MENU</span></a>
					<div class="panel">
						<ul id="topnav">
							<li class="current-menu-item"><a href="index.html"><strong>トップページ</strong><br /></a></li>
							<li><a href="sample.html"><strong>パスワード変更</strong><br /></a></li>
							<li><a href="sample.html"><strong>logout</strong><br /></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
</body>
</html>
 <ol>
<h2>申請書作成</h2><br>
<h5>
<%= form_with url:'check', local: true do |form| %>
  <label>会社名<span class="mgr-10"></label></span><%= form.text_field :name %><br>
  <label>場所&nbsp;&nbsp;&nbsp;&nbsp;<span class="mgr-10"></label></span><%= form.text_field :place %>

  <label>内容</label>
      <select name="prefecture" id="prefecture">
   <option value="">以下から選択してください</option>
        <option value="単独">単独</option>
        <option value="合同">合同</option>
        <option value="試験">試験</option>
      </select><br><br>

     	<label for="s_time">開始時刻<span class="mgr-10"></label></span><%= form.date_field :s_time %><span class="mgr-10"></span><label for="name">時刻<span class="mgr-10"></label></span><%= form.time_field :date %><br>
  		<label for="e_time">終了日時<span class="mgr-10"></label></span><%= form.date_field :e_time %><span class="mgr-10"></span><label for="name">時刻<span class="mgr-10"></label></span><%= form.time_field :date %><br>
  		<label for="d_time">休退日時<span class="mgr-10"></label></span><%= form.date_field :d_time %><span class="mgr-10"></span><label for="name">時刻<span class="mgr-10"></label></span><%= form.time_field :date %><br>
            
			<%= form.radio_button :withdrawal_id, :早退, required: true %>
            <%= form.label :早退 %>
			<%= form.radio_button :withdrawal_id, :遅刻, required: true %>
            <%= form.label :遅刻 %>
            <%= form.radio_button :withdrawal_id, :欠席, required: true %>
        	<%= form.label :欠席 %><br>
			</h5>

			<h3><%= form.submit '確認'%></h3>

<% end %>
</form>
</ol>