<%# <form class="login">
  
  <fieldset>
    
  	<legend class="legend">新規登録</legend>
    
    <div class="input">
    	<select name="pull-down">
        "R1A1">R1A1
        "R1A2">R1A2
        "R2A1">R2A1
        "R2A2">R2A2
        "R3A1">R3A1
        "R3A2">R3A2
        "R4A1">R4A1
        "R4A2">R4A2
        "S1A1">S1A1
        "S1A2">S1A2
        "S2A1">S2A1
        "S2A2">S2A2
        "S3A1">S3A1
        "S3A2">S3A2
        "G1A1">G1A1
        "G1A2">G1A2
        "G2A1">G2A1
        "G2A2">G2A2
        "G3A1">G3A1
        "G3A2">G3A2
        "J1A1">J1A1
        "J1A2">J1A2
        "J2A1">J2A1
        "J2A2">J2A2
        "M1A1">M1A1
        "M1A2">M1A2
        "M2A1">M2A1
        "M2A2">M2A2
        "B1A1">B1A1
        "B1A2">B1A2
        "B2A1">B2A1
        "B2A2">B2A2
        </select>
    </div>
    
    <div class="input">
    	<input type="password" placeholder="Password" required />
      <span><i class="fas fa-lock"></i></span>
    </div>
    
    <button type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>
    
  </fieldset>
  
  <div class="feedback">
  	login successful <br />
    redirecting...
  </div>
  
</form> %>
<div class="ui text container">
  <%= form_with url: 'new', class: 'ui form' do |form| %>
    <%= form.label :学籍番号 %>
    <%= form.number_field :id %>
    <%= form.label :名前 %>
    <%= form.text_field :name %>
    <div class="fields">
      <div class="field">
      <%= form.label :クラス %>
		  <%= form.select :class, {
        R1A1:"R1A1",
        R1A2:"R1A2",
        R2A1:"R2A1",
        R2A2:"R2A2",
        R3A1:"R3A1",
        R3A2:"R3A2",
        R4A1:"R4A1",
        R4A2:"R4A2",
        S1A1:"S1A1",
        S1A2:"S1A2",
        S2A1:"S2A1",
        S2A2:"S2A2",
        S3A1:"S3A1",
        S3A2:"S3A2",
        G1A1:"G1A1",
        G1A2:"G1A2",
        G2A1:"G2A1",
        G2A2:"G2A2",
        G3A1:"G3A1",
        G3A2:"G3A2",
        J1A1:"J1A1",
        J1A2:"J1A2",
        J2A1:"J2A1",
        J2A2:"J2A2",
        M1A1:"M1A1",
        M1A2:"M1A2",
        M2A1:"M2A1",
        M2A2:"M2A2",
        B1A1:"B1A1",
        B1A2:"B1A2",
        B2A1:"B2A1",
        B2A2:"B2A2"} %>
      </div>
      <div class="field">
        <%= form.label :クラス番号 %>
        <%= form.number_field :num %>
      </div>
      <div class="field">
        <%= form.label :パスワード %>
        <%= form.password_field :pass %>
      </div>
      <div class="field">
        <%= form.label :パスワード再入力 %>
        <%= form.password_field :pass_conf %>
      </div>
    </div>
      <div class="field">
        <label> </label>
        <%= form.submit :新規作成, class: 'fluid ui green button' %>
      </div>
  <% end %>
</div>