<div class="ui text container">
<%= form_with model: Report.new, url: 'new', local: true, class: 'ui form' do |form|%>
    <%= form.hidden_field :student_id, value: @current_user.id %>
    <%= form.hidden_field :course_id, value: @current_user.course_id %>
    <div class="field">
        <%= form.label :申請日 %>
        <%= form.datetime_field :appli_day, value: @current_date.strftime('%Y-%m-%dT%H:%M') %>
    </div>
    <div class="field">
        <%= form.label :報告日 %>
        <%= form.datetime_field :report_day, value: @current_date.strftime('%Y-%m-%dT%H:%M') %>
    </div>
    <div class="field">
        <%= form.label :試験日時 %>
        <%= form.datetime_field :exam_day, value: @current_date.strftime('%Y-%m-%dT%H:%M') %>
    </div>
    <div class="field">
        <%= form.label :求人番号 %>
        <%= form.text_field :job_code %>
    </div>
    <div class="field">
        <%= form.label :受験場所 %>
        <%= form.text_field :place %>
    </div>
    <%= form.label :受験エリア %>
    <div class="ui radio">
        <%= form.radio_button :exam_area, :札幌, required: true %>
        <%= form.label :札幌 %>
        <%= form.radio_button :exam_area, :東京, required: true %>
        <%= form.label :東京 %>
        <%= form.radio_button :exam_area, :その他, required: true %>
        <%= form.label :その他 %>
    </div>
    
    <%= form.submit '登録',class:'ui green button' %>
<% end%>
</div>